body{
	margin: 0px;
	padding: 0px;
	background: url("yoi.jpg");
  background-size: 1600px;
}o

button{
	background-color: #3897f0;
	color: white;
	border : solid #3897f0 1px;
	padding: 7px 10px;	
	margin: 10px 0px;
	width: 250px;
	transition: background-color .4s;
	
}

button:hover{
	cursor: pointer;
	background-color: #6daeec;
}

input{
	margin: 3px 0px;
	width: 230px;
	padding: 5px 10px;
}

h1{
	font-family: billabong;
	font-size: 48px;
}

h3{
	font-family: "Brush Script MT";
  font-size: 50px;
  font-color:"000000";
	
}

h3, p{
	color: #999;
}

#form{
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.content{
	margin: 0 auto;
	background-color: white;
	padding: 50px 0px;
	width: 30%;
	text-align: center;
	margin-top: 100px;
	box-shadow: 0px 0px 2px grey;
}